#content-nav{
	margin:0 auto;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}
.nav-top{
	height: 165px;
}
.nav-top form{
	position: relative;
	top: -55px;
	right: -1200px;
	width: 220px;
	height: 40.5px;
	margin: 0;
}
.nav-top input{
	width: 172px;
	height: 25px;
	border-radius: 20px;
	opacity: 0.8;
	padding: 0px 34px 0px 10px;
}
.icon{
	top: 164px;
	right: 245px;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.icon::before{
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	right: 10px;
	width: 18px;
	height: 18px;
	background-image: url(../img/header/sprite-icons.a1a8f705.png);
	background-position: -536px -140px;
}
.nav-main{
	height: 36px;
	background-color: #fff;
	line-height: 36px;		
	box-shadow:0 0 2px #666;
}
.nav-topcatalog{
	width: 1140px;
	margin: 0 auto;
}
.nav-main .topcatalog{	
	display: inline-block;
	padding: 0 10px 0 10px;
}
.nav-main a{
	font-size: 15px;
	color: #000;
}
.topcatalog-broadcast-img{
	width: 96px;
	height: 18px;
	margin: -2px;
	background: url(../img/header/sprite-icons.a1a8f705.png) -267px -204px;
}
.topcatalog-lives-img{
	display: inline-block;
	width: 51px;
	height: 13px;
	background: url(../img/header/sprite-icons.a1a8f705.png) -316px -222px;
}
.topcatalog-radio-img{
	display: inline-block;
	width: 22px;
	height: 20px;
	margin: 0 2px -4px 2px;
	background: url(../img/header/sprite-icons.a1a8f705.png) -286px -475px;
}
.nav-main .topcatalog-broadcast-img:hover{
	background: url(../img/header/sprite-icons.a1a8f705.png) -88px -240px;
}
.nav-main .topcatalog-lives-img:hover{
	background: url(../img/header/sprite-icons.a1a8f705.png) -265px -222px;
}
.topcatalog-radio-img:hover{
	background: url(../img/header/sprite-icons.a1a8f705.png) -312px -475px;
}
.nav-main a:hover{
	color: #cd3333;
}
#content{
	width: 1140px;
	height: 100%;
	margin: 50px auto;
	overflow: hidden;
}
#carousel-left{
	height: 100%;
	float: left;
}
.indc>li{
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	background: #fff;
	border-radius:100%; 
	margin: 3px;
	float: right;
	position: relative;
	top: -25px;
	left: -10px;
}
.carousel-img>img{
	border: 2px solid black;
	border-radius: 5px;
}
#carousel-right{
	border-radius: 2px;	
	float: left;
	padding-left: 20px;
}
#carousel-right>.carousel-right-content>.cal-r-up{
	overflow: hidden;
	padding-top: 18px;
}
#carousel-right>div:nth-child(2){
	width: 30px;
	position: absolute;
	top:-100px;
}
#carousel-right .cal-r-up>div.floatLeft{
	width: 90px;
	height: 130px;
	float: left;
	margin-right: 15px;
}
#carousel-right>.carousel-right-content{
	border: 2px solid black;
	height: 100%;
	padding: 15px 45px 15px 15px;
	box-sizing: border-box;
}
#carousel-right:last-child{
	float: right;
}
#carousel-right>.carousel-right-content>.cal-r-top{
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	width: 615px;
	margin: 0;
}
#carousel-right>.carousel-right-content>.cal-r-top>a,#carousel-right>.carousel-right-content>.cal-r-top:nth-child(2){
	float: left;
}
#carousel-right>.carousel-right-content>.cal-r-top>div:nth-child(2){
	max-width: 350px;
	height: 17px;
	margin: 0;
}
#carousel-right>.carousel-right-content>.cal-r-top>div:nth-child(3){
	height: 17px;
	float: right;
}
