#content,.show-area{
	width: 968px;
	height: 100%;
	margin: 20px auto;
	overflow: hidden;
}
#content>div:first-child{
	height: 224px;
	overflow: hidden;
	padding-bottom: 20px;
}
/*轮播图*/
#carousel-left{
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	height: 220px;
	width: 436px;
}
#carousel-left>a.carousel-img{
	display: block;
	width:100%;
	height: 100%;
}
.indc>li{
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	background: #fff;
	border-radius:100%; 
	margin: 3px;
	float: right;
	position: relative;
	top: -25px;
	left: -10px;
}
/*轮播图右侧展示区*/
#carousel-right{
	width: 507px;
	height: 224px;
	float: right;
	border: 2px solid black;
	border-radius: 5px;
	padding: 15px 45px 15px 15px;
	box-sizing: border-box;
}
#carousel-right>.carousel-right-content{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.floatLeft{
	float: left;
}
#carousel-right .story-pic{
	width: 90px;
	height: 130px;
	margin-right: 20px;
	font-size: 12px;
	overflow: hidden;
}
#carousel-right>.carousel-right-content>.cal-r-top>.cal-r-atte{
	display: inline-block;
	width: 50px;
	height: 22px;
	background: #c14a3f;
	position: relative;
	color: white;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius:5px;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
	line-height: 22px;
    white-space: nowrap;
    right: -110px;
    font-weight: 400;
}
#carousel-right>.carousel-right-content>.cal-r-top>.cal-r-atte:hover{
	background: #bb282e;
}
.cal-r-btm-title>a{
	color: black;
	display: block;
	line-height: 18px;
	width: 90px;
	height: 36px;
	padding-top: 4px;
}
.changeColor:hover{
	color: #F25D8E!important;
}
#carousel-right>.carousel-right-content>.cal-r-top{
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;;
}
#carousel-right>.carousel-right-content>.cal-r-btm{
	padding-top: 18px;
}
#carousel-right .cal-r-top{
	position: relative;
	z-index: -1;
}
#carousel-right .cal-r-top>a{
	padding-left: 60px;
	font-size: 18px;
	color: #666;
	box-sizing: border-box;
	position: relative;
	z-index: -1;
}
#carousel-right .cal-r-top>.story-intro{
    height: 17px;
    max-width: 180px;
    min-height: 17px;
    margin: 5px 0 0 20px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
}
#carousel-right .cal-r-top>a::before{
	width: 50px;
	height: 20px;
	background-position: -148px -332px;
	position: absolute;
	left: 0;
	top: 0;
}
#carousel-right>.cal-r-more{
	position: relative;
	width:30px;
	height: 216px;
	top: -205px;
	right: -103%;
	text-align: center;
	background: #333;
	border:2px black solid;
	border-radius: 0 5px 5px 0;
}
#carousel-right>.cal-r-more>a{
	display: inline-block;
	color: #fff;
	padding-top: 50px;
}
/*楼层展示区*/
.show-area{
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;
	padding: 10px 0;
}
.show-area>div.area-left{
	width: 676px;
	height: 256px;
	float: left;	
	overflow: hidden;
}
#content .icon-pop{
	background-position: -5px 0;
}
#content .icon-mic{
	background-position: -5px -25px;
}
#content .icon-cartoon{
	width: 30px;
	background-position: -1px -84px;
}
.show-area>.area-left>.front-page-left{
	box-sizing: border-box;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	padding: 10px 0 15px 0px;
	overflow: hidden;
}
.front-page-left>ul>li{
	display: inline-block;
	text-align: center;
	line-height: 25px;
	border: 1px solid #dbdbdb;
	font-size: 12px;
	padding: 0 10px 0 10px;
	cursor: pointer;
}
.front-page-left>ul>li:nth-child(2){
	border-right: none;
	border-left: none;
}
.front-page-left>ul>li:first-child{
	border-radius: 3px 0 0 3px;
}
.front-page-left>ul>li:last-child{
	border-radius: 0 3px 3px 0;
}
.show-area .brc-pic>div>a{
	color: black;
	display: block;
	line-height: 18px;
	width: 154px;
	height: 36px;
	padding-top: 4px;
	font-size: 12px;
	overflow: hidden;
}
.show-area>.area-left>.broadcast>div:first-child{
	box-sizing: border-box;
	height: 200px;
	overflow: hidden;
}
.show-area .brc-pic{
	margin-right:20px;
}
.show-area>.area-left>.broadcast>div{
	width: 800px;
}
.show-area .brc-pic>a:first-child>div>img{
	border-radius: 5px;
}
.show-area .area-active{
	background: #dbdbdb;
}
.mass-org>div{
	margin-left: 31px;
}
.mass-org h3{
	cursor: pointer;
	display: block;
	height: 42px;
	padding-top: 7px;
}
ul.page-more>li.more{
	border-radius: 3px;
	margin-left: 15px;
}
ul.page-more>li:nth-child(2){
	border-right: 1px solid #dbdbdb;
	border-radius: 0 3px 3px 0;
}
div.mass-org>div.maoer-bf img{
	margin:38px 0 5px 0;
}
/*排行榜*/
.ranking-list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 28%;
}
.ranking-list>.rl-top{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.rl-top{
	width: 100%;
	height: 20px;
	padding: 10px 0;
}
.rl-top>span{
	font-size: 18px;
	color:#666;
	cursor: pointer;
}
.rl-list>li{
	float: left;
	text-align: center;
	line-height: 25px;
	border: 1px solid #dbdbdb;
	font-size: 12px;
	padding: 0 10px 0 10px;
	cursor: pointer;
}
.rl-list>li:first-child{
	border-right:none;
	border-radius: 3px 0 0 3px;
}
.rl-list>li:last-child{
	border-radius: 0 3px 3px 0;
}
.rl-middle{
	font-size: 12px;
}
.rl-middle img{
	display: inline-block;
	width: 50px;
	border-radius: 3px;
}
.rl-middle li{
	margin: 10px 0;
}
.rl-color,.rl-color-g{
	display: inline-block;
	width: 16px;
	height: 16px;
	color: white;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	border-radius: 3px;
	margin-right: 10px;
}
.rl-color-g{
	background: #dbdbdb;
}
.rl-color{
	background: #cd3333;
}
.rl-one-main{
	display: flex;
	justify-content: space-between;
}
.rl-one-main>a.rl-pic>div{
	display: inline-block;
}
.rl-contant{
	width:69%;
}
.rl-one-main>a.rl-pic>.rl-color{
	position: relative;
	top: -37px;
}
.rl-intr>a>span{
	display: inline-block;
	height: 16px;
	width: 235px;
	overflow: hidden;
	padding-top:2px;
	position: relative;
	top: 3px;
}
a.rl-btn-more{
	display: block;
	height: 24px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	font-size: 10px;
	color:#666;
}
a.rl-btn-more:hover{
	background:#dbdbdb ;
}
.rl-icon-radio:before{
	width: 18px;
	height: 18px;
	background-position:-372px -494px ;
}
.rl-icon-readed:before{
	width: 18px;
	height: 18px;
	background-position:-390px -495px ;
}
