#footer{
	width:100%;
	height: 127px;
	border-top: 1px solid #e0e0e0;
	margin-top: 50px;
	padding: 10px 0px;
	font-size: 14px;
}
#footer>p{
	display: block;
	margin: 10px 0px;
	text-align: center;
	color: #9e9e9e;
}
.about-us>a,.links>a{
	margin: 0px 10px;
}
.footer-row>a{
	color: #9e9e9e;
}
.about-us>a{
	color: #616161;
}
.about-us>a:first-child~a:before{
	content: "";
	position: relative;
	display: inline-block;
	height: 14px;
	border-right: 1px solid #616161;
	left: -10px;
}
.footer-row img{
	position: relative;
	bottom: -4px;
}
.baicon{
	margin: 0px 10px;
}
