#header{
    height: 245px;
    margin: 0 auto;
}
.nav{
	margin: 0 auto;
    width:968px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
}
#header-content{
    background:black; 
	border-bottom: 3px solid #cd3333;

}
.header-opts>li{
	float: right;
}
.header-opts-left{
	position: absolute;
	right: 70px;
	padding: 0 20px;
}
.header-opts-right{
	position: absolute;
	right: 0px;
	width: 70px;
	background: #cd3333;
}
.header-nav>li{
    float: left;
}
.beta{
	display: inline-block;
	position: absolute;
	top: -3px;
	font-size: 10px;
	color:#cd3333;
	height: 40px;
}
#header a{
    font-size: 15px;
    text-decoration: none;
    color:white;
}
#header a:hover{
	color:#cd3333;
}
#header .header-opts-right:hover{
	color: white;
	background: #ee2c2c;
}
.homepage>a{
	padding:1px 20px 0px 0px;
}
.header-nav>li:nth-child(2)>a{
	padding: 0px 40px 0px 20px;
}
.header-nav>li:nth-child(3)>a{
	padding: 0px 20px 0px;
}
.header-nav>li:last-child>a{
	padding: 0px 20px 0px;
}
.homepage>a::before{
	content: "";
	display: block;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
	width: 18px;
	height: 17px;
	background-image: url(../img/header/sprite-icons.a1a8f705.png);
	background-position: -20px -522px;
}
.homepage-l{
	float: left;
	padding: 0 20px;
}
.login-img{
	display: inline-block;
	width: 18px;
	height: 17px;
	background-image: url(../img/header/sprite-icons.a1a8f705.png);
	background-position: -112px -498px;
}
.login-img:hover{
	background-image: url(../img/header/sprite-icons.a1a8f705.png);
	background-position: -20px -522px;
}
.header-opts form{
	position: relative;
	width: 130px;
	height: 40px;
	right: 100px;
}
.header-opts input{
	width: 86px;
	height: 29px;
	border-radius: 20px;
	padding: 0 34px 0 10px;
	border: none;
}
.header-opts .icon{
	top: 164px;
	right: 245px;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header-opts .icon::before{
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	right: 10px;
	width: 18px;
	height: 18px;
	background-image: url(../img/header/sprite-icons.a1a8f705.png);
	background-position: -536px -140px;
}
#header-nav{
	width: 100%;
	height: 165px;
	margin: 0 auto;
}
.nav-top{
	width: 100%;
	height: 100%;
	
}
#header-content .nav>form{
	position: absolute;
	width: 220px;
	height: 40.5px;
	top: 150px;
	right: 0;
	z-index: 999;
}
#header-content .nav>form>input{
	width: 172px;
	height: 25px;
	border-radius: 20px;
	opacity: 0.9;
	padding: 0px 34px 0px 10px;
}
.nav-top>.top-pic{
	position:relative;
    width: 100%;
	background: url(../img/header/soundback.86e25ebd.png);
	transform: matrix(1,0,0,1,0,0);
    height: 165px;
    left: 0;
    right: 0;
    background-position: top;
    background-repeat: no-repeat;
}
#header-content>.nav>form>.icon{
	top: 164px;
	right: 245px;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#header-content>div.nav>form>.icon::before{
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	right: 10px;
	width: 18px;
	height: 18px;
	background-image: url(../img/header/sprite-icons.a1a8f705.png);
	background-position: -536px -140px;
}
.nav-main{
	width: 100%;
	height: 36px;
	background-color: #fff;
	line-height: 36px;		
	box-shadow:0 0 2px #666;
	text-align:center;
	position: relative;
}
.nav-topcatalog{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: matrix(1,0,0,1,0,0);
	background-position: top;
}
.nav-main .topcatalog{	
	display: inline-block;
	padding: 0 10px 0 10px;
}
#header-nav .nav-main a{
	font-size: 15px;
	color: #000;
}
.topcatalog-broadcast-img{
	width: 96px;
	height: 18px;
	margin: -2px;
	background: url(../img/header/sprite-icons.a1a8f705.png) -267px -204px;
}
.topcatalog-lives-img{
	display: inline-block;
	width: 51px;
	height: 13px;
	background: url(../img/header/sprite-icons.a1a8f705.png) -316px -222px;
}
.topcatalog-radio-img{
	display: inline-block;
	width: 22px;
	height: 20px;
	margin: 0 2px -4px 2px;
	background: url(../img/header/sprite-icons.a1a8f705.png) -286px -475px;
}
.nav-main .topcatalog-broadcast-img:hover{
	background: url(../img/header/sprite-icons.a1a8f705.png) -88px -240px;
}
.nav-main .topcatalog-lives-img:hover{
	background: url(../img/header/sprite-icons.a1a8f705.png) -265px -222px;
}
.topcatalog-radio-img:hover{
	background: url(../img/header/sprite-icons.a1a8f705.png) -312px -475px;
}
#header-nav div.nav-main a:hover{
	color: #cd3333;
}
#header-nav .subnav{
	height: 100%;
	background: pink;
	width: 100px;
}
