.reg-content{
    height: 600px;
}
.reg-main-content{
    width: 500px;
    height: 630px;
    margin: 100px auto;
}
.reg-main-content>span{
    display: block;
    margin-left:13px; 
    font-size: 20px;
}
.reg-main-content .area{
    width: 155px;
    height: 45px;
    padding-left: 15px;
}
.reg-ph{
    width: 253px;
}
.reg-main-content .reg-row{
    display: inline-block;  
}
.reg-main-content>input,.area{
    box-sizing: border-box;
    height: 45px;
    border:1px solid #e0e0e0;
    border-radius: 5px;
    margin:13px;
    padding: 5px 10px 5px 32px; 
}
.reg-main-content>a,input.reg{
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.inp-size{
    width: 440px;
    height: 45px;
    border-radius: 5px;
}
.reg-main-content>input.reg{
    margin:13px;
    background: #c14a3f;   
    font-size: 15px;
    line-height: 38px;
    padding: 0;
}
.reg-main-content>input.get-vcode{
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
    margin-left:-17px;
    width: 200px;
    background: #424242; 
    border-radius: 5px;  
    padding: 0px;  
}
.reg-main-content img{
    position: relative;
    top: 17px;
    margin-left: -17px;
}
.reg-main-content .reg-size{
    color:#a89ea8;
    margin-left: 13px;
}
.reg-main-content .ck{
    width: 20px;
    height: 20px;
}
.reg-main-content .reg-return{
    color: black;
    margin-left: 250px;
}
.inum{
    background-position: -472px -476px;
    top: 7px;
    left: -217px;
}
.iname,.ipwd{
    top: 5px;
    left: -447px;
}
.iname{
    background-position: -488px -341px;
}
.ipwd{
	background-position: -513px -133px;
}
